[Unit]
Description=dump1090
After=multi-user.target

[Service]
User=root
ExecStart=/usr/local/bin/dump1090 --net
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
