#
# collection device and location
platform: rpi3b-adsb-test
#
# dump1090 URL
dump1090url: http://localhost:8080/data.json
#
# collected files go here
freshDir: /var/wombat/fresh/hyena
#
rapidApiKey: bogus
#
